head
    meta(charset="UTF-8")
    title #{title}
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Lora:400i|Open+Sans|Open+Sans:300|Open+Sans:700|Raleway|Raleway:800|Raleway:700|Montserrat" rel="stylesheet")
    link(href="../css/main.css" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css")
    link(rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css")