.error-section
  text-align center
  margin-top 230px
  padding-bottom 222px
  h1
    margin-top -15px
    font-size 72px
    font-weight 300
    b
     font-weight 700
     color #36a8ff
     display inline-block
     margin-left 10px

  p
    margin-top 15px
    padding 10px 27px
    background-color #ffaf36
    font 500 12px 'Raleway'
    text-transform uppercase
    display inline-block
    border-radius 20px