.arrows
  position relative
  &:before
    border  solid transparent
    content " "
    height 0
    width 0
    position absolute
    bottom 0
    right 50px
    border-left: 90px solid transparent
    border-right: 90px solid transparent
    border-bottom: 100px solid #36a8ff
  &:after
    border  solid transparent
    content " "
    height 0
    width 0
    position absolute
    right 0
    bottom 0
    border-left: 70px solid transparent
    border-right: 70px solid transparent
    border-bottom: 70px solid #ffaf36



.arrows-left
  position relative
  &:before
    border  solid transparent
    content " "
    height 0
    width 0
    position absolute
    bottom 0
    left 0
    border-left: 90px solid transparent
    border-right: 90px solid transparent
    border-bottom: 100px solid #36a8ff
  &:after
    border  solid transparent
    content " "
    height 0
    width 0
    position absolute
    left 90px
    bottom 0
    border-left: 70px solid transparent
    border-right: 70px solid transparent
    border-bottom: 70px solid #ffaf36