.post
  color #585858
  margin-top 35px
  padding 0 0 0 20px

.post-img
  width 100%
  min-height 334px
  max-width 1042px
  max-height 334px

.post-footer
  padding 0 0 0 20px

.h4
  font 700 16px 'Raleway'

.post-text
  margin 45px 0 60px

.text-before-quote
  margin 15px 0 47px

.text-after-quote
  margin-top 50px
  margin-bottom 70px

.text-after-quote
.text-before-quote
.post-text
  line-height 28px
  font-weight 400
  color #585858

.admin-area
  margin-top 70px
  margin-bottom 40px
  padding-bottom 70px
  border-bottom 2px solid rgba(221, 228, 234, 0.15)


.blue-section
  width 83%
  padding 38px 93px 27px 47px
  background-color #36a8ff
  h6
    font 700 16px 'Raleway'
    color white
    margin 0
  p
    font-size 14px
    line-height 28px
    font-weight 400
    color #dbefff
    margin 27px 0 0 0
  &:after {
      right 100%
      top 50%
      border solid transparent
      content " "
      height 0
      width 0
      position absolute
      pointer-events none
      border-right-color #36a8ff
      border-width 10px
      margin-top -10px
    }

.light-section
  background-color #eaeff3
  padding 70px 0 0 0