.blog-header
  .blog-page-header
    font 800 30px 'Raleway'
    margin-left -2px

  .featured-post
    font italic 16px Lora
    margin-bottom 30px

.post-header
  display inline-flex
  height 60px

.post-info
  height 40px
  margin-left 40px
  h3
    margin 5px 0 16px 0

.post-title
  color #1c1c1c
  font 700 18px 'Raleway'

.posted-by
  color #757575
  font 300 13px Montserrat
  margin-bottom 12px

