a:hover
  text-decoration none

.submit
  width 151px
  margin-top 10px
  display block
  text-align left
  font 700 13px 'Raleway'
  color #ffaf36
  &:hover
    color white
    text-decoration none
  div
    width 151px
    height 51px
    border 2px solid #ffaf36
    display inline-flex
    justify-content center
    align-items center
    &:hover
      background-color #ffaf36
      text-decoration none
