.careers-imgs
  img
    position absolute
    opacity 0.8

.careers-img
  z-index 2
.careers-img-border
  top 50px
  left 95px

.careers-text
  padding-bottom 55px

.careers
  margin-top 25px
  margin-left 50px
  .blog-header
    .post-text
      margin-top 0
      padding-right 20px


.our-offer
  margin-top 30px
  span
    font-size 44px
    float left
  h5
    display inline-block
    margin 5px 0 10px 61px
    font 700 16px 'Raleway'

  p
    margin-left 106px
    color #585858
    padding-right 40px

.open-positions
  margin-top 100px

.card
  border none
  .card-header
    background-color transparent
    padding 30px 0 30px 0
    border-top 1px solid #e5eaee
    &:first-child
      border-top none

.border-none
  border-bottom  none !important

.card-block
  border-bottom 1px solid #e5eaee

a
  h6
    float left
    margin-top 10px
  span
    color black
    float right
    font-size 40px
    &:hover
      color #ffaf36

.hr-mission
  display inline-flex
  h6
    margin-right 126px
  p
    padding 0 100px 0 0
    color #585858

.hr-location
  display inline-flex
  h6
    margin-right 114px
  p
    margin-top -5px
    color #585858

.hr-require
  margin-top 10px
  display inline-flex
  h6
    margin-right 127px
  ul
    list-style none
    padding 0
    li
      color #585858
      margin-bottom 10px
    &:last-child
      margin-bottom 0
      i
        margin-right 18px

.hr-type
  margin-top 10px
  h6
    margin-right 152px
  p
    margin-top -4px
    color #585858

.hr-other
  margin-top 15px
  display inline-flex
  h6
    margin-right 140px
  p
    margin-top -4px
    color #585858

.hr-footer
  padding-bottom 40px
  a
    color black
    float right
    &:hover
      color black
    div
      background-color #ffaf36
      &:hover
        background-color white !important


.mb-0
  a
    span
      color #36a8ff
      &:hover
        color #ffaf36
  a.collapsed
    span
      color black
      transform: rotate(-90deg)
      &:hover
        color #ffaf36

