.comment
  padding-bottom 40px
  margin-bottom 35px
  border-bottom 2px solid rgba(221, 228, 234, 0.15)
  &:last-child
    border-bottom none

.comment-body
  margin-left 50px
  padding-right 40px
  h6
    margin-top 0
    display inline-block
    font 700 13px 'Monsterrat'
  time
    margin-top 0
    margin-left 10px
    color #ffaf36
    font 600 12px 'Monsterrat'
  p
    color #585858
    line-height 28px

.reply
  margin-top 15px
  padding-top 6px
  color #ffaf36
  font-size 14px
  border 1px solid #ffaf36
  width 33px
  height 33px
  &:hover
    background-color #ffaf36

.answer
  margin-left 130px
