.phone-black
  margin 20px 0 50px 0
  border none
  padding 0
  a
    color #1c1c1c
    font-size 16px
    font-weight 700

.mail-to
  .submit
    color black
    font-size 16px
  display inline-block
  float  right
  width 300px
  height 50px
  text-transform uppercase
  padding 0
  div
    width 300px
  a
    width 300px

.contact-us-banner
  margin-bottom 100px
  position relative
  overflow hidden
  min-height 345px
  max-height 345px
  background-image: linear-gradient(150deg, rgba(54, 168, 255, 1) 0%, rgba(255, 175, 54, 1) 100%);
  img
    position absolute
    left 0
    top 0
    opacity 0.6
  h1
    color #ffaf36
    font 800 30px 'Raleway'
    z-index 10
    position relative
  h3
    color white
    font 700 18px 'Raleway'
    text-transform uppercase
    z-index 10
    position relative
  h3, h1
    top 110px
    left 120px

