.questions
  margin 60px 0 90px 0
  padding-left 5px
  .question
    display inline-block
  p
    margin-top 23px
    width 450px
  h4
    font-size 16px
    text-transform uppercase
    display inline-block
    padding 0
    margin 5px 0 0 0
  list-style none
  counter-reset myCounter
  li
    list-style none
    display inline-block

    &:nth-child(even)
      float: right
  li:before
    float left
    content " "
    background #ffaf36
    display inline-block
    margin-right 25px
    width 30px
    height 30px
    transform rotate(45deg)
  li:after
    float right
    counter-increment myCounter
    content counter(myCounter)
    color #1c1c1c
    font-weight bold
    display inline-block
    text-align center
    position relative
    right 494px
    top 4px

.text-center
  text-align center
  div
    .submit
      display inline-block

.search
  margin-bottom 40px
  .navbar-form
    .form-group
      .form-control
        padding-left 27px
    button
      border-radius 0
      background-color #ffaf36
      width 47px
      height 47px
      border none
      margin-left -5px
      margin-top -4px
      font-size 15px
    input
      height 47px
      border 1px solid #e0e7ec
      background-color white
      width 690px
      margin-top 0


