footer
  background-color #2a2b2c

.footer-content
  padding-top 80px
  margin-bottom 95px

.logo-and-share
  display inline-flex
  flex-direction column
  padding-top 45px
  ul
    margin-top 22px
    .btn
      font-size 15px
      color #8a8a8a
      background-color transparent
      border 1px solid #373839
      width 30px
      height 30px
      padding 5px 0 0 0
      border-radius 0
      &:hover
        color whitesmoke
    .li-btn:hover
      background-color #014c8c
    .gl-btn:hover
      background-color #eb4125
    .tw-btn:hover
      background-color #00baef
    .fb-btn:hover
      background-color #496fa5
  


.lawer
  margin-top 20px
  color #8e8e8e

.form-and-nav
  display inline-flex
  h3
    margin-top 0

.footer-nav
  margin-right 122px
  text-align left
  display inline-block
  width 165px
  ul
    padding-left 2px
    li
      display inline-block
      width 165px
      padding 15px 0 15px 25px
      border-bottom 1px solid #373839
      &:last-child
        border-bottom: none
    a
      font 400 13px "Open Sans"
      color #7b7b7c
      &:hover
        color white
      &:before
        position absolute
        left 18px
        border solid transparent
        content " "
        height 0
        width 0
        pointer-events none
        border-left-color #ffaf36
        border-width 4px
        margin-top 8px
  h3
    font 700 18px 'Raleway'
    color white

.footer-active-url
  color white !important

.footer-title
  font 700 18px 'Raleway'
  color white
  text-align left
  margin-bottom 37px

.footer-form
  width 458px

.name-input
  float left

.email-input
  float right

.textarea
.input
  font-weight 400
  color #737476
  background-color #2a2b2c
  border 1px solid #373839
  &:focus
    outline none

.input
  width 229px
  border-bottom none
  height 46px
  padding 0 21px

.textarea
  padding 15px 20px
  width 100%
  height 100px
  resize none

