.header-section
  width 100%
  position absolute
  top 25px
  border-bottom 2px solid rgba(221, 228, 234, 0.15)
  padding-bottom 27px
  z-index 10

.logo-and-phone
  display inline-flex
  align-items flex-end

.phone
  display inline-flex
  align-items center
  padding-left 20px
  margin-left 20px
  border-left 2px solid rgba(221, 228, 234, 0.15)
  height 23px
  i
    font-size 22px
    color #ffaf36
    margin-right 6px

.phone-number
  margin-left 5px
  color white
  &:hover
    color #ffaf36
    text-decoration none

.header-nav
  margin-top 3px

.navbar
  padding 0
  .nav-item
    float right
    margin 0 43px 0 0
    &:first-child
      margin-right 0
  a
    font-size 14px
    line-height 24px
    font-weight 700
    color white
    &:hover
      color #ffaf36
  .active
    color #ffaf36


.banner
  z-index 1
  background #000000
  height 395px
  overflow hidden
  margin-bottom 100px
  img
    display: block
    width: 100%
    opacity: 0.4
    min-height: 395px

.navbar-nav .nav-item+.nav-item
  margin-left 0

li
  .dropdown
    top 25px
    padding-left 0
    position absolute
    display none
    li
      display inline-block
      margin-right 20px

  &:hover
    .dropdown
      display block

.navbar-brand
  padding 0
  margin 0
