.our-short-story
  div
    .post-text
      margin-bottom 30px

.carousel-item
  z-index 1
  background #000000
  max-height 835px
  overflow hidden
  img
    display block
    width 100%
    opacity 0.4
    min-height 835px

.carousel-indicators
  margin-bottom 22px
  li
    height 5px
    width 25px
    background-color white
    border-radius 0
  .active
    height 5px
    width 25px
    background-color #ffaf36
    border none
    position relative
    top -1px

.carousel-caption
  margin-bottom 270px
  text-shadow none
  width 100%
  left 0
  right 0
  text-align left
  h5
    font 600 16px 'Raleway'
  h1
    font 700 60px 'Raleway'
  p
    width 550px
    font italic 15px/35px 'Lora'
  a
    margin-top 50px
    color black
    .submit-bg
      background-color #ffaf36
      &:hover
        background-color transparent

.services-section-button
  margin-top 75px

.service
  .active-service
    color #36a8ff
  span
    &:hover
      cursor pointer
      color #36a8ff

.clients-coments-section
  padding-top 100px

.clients-comment
  margin-bottom 60px
  position relative
  padding-right 60px
  p
    display inline-block
    line-height 28px
    font-weight 400
    color #585858
  h5
    display inline-block
    margin-top 19px
    font 700 14px 'Raleway'
    text-transform uppercase
    margin-right 25px
  img
    float left
    margin-right 40px
  .comment-text
    margin 15px 0 50px 0

  .person-status
    position relative
    top -6px
  i
    position absolute
    opacity 0.2
    font-size 80px
    top -20px

.news-details
  list-style none
  padding 0 30px 0 0
  li
    padding-top 17px
    text-align right
    border-bottom 1px solid #ffaf36
    &:last-child
      border-bottom none
    &:first-child
      padding-top
    p
      font-weight 400
      font-size 14px
      color #565656
    span
      font-size 30px

.news-date
  h3
    font-weight 700
    font-size 30px
    margin-bottom 0

.main-new-img
  margin-bottom 37px
  position relative
  overflow hidden
  min-width 456px
  max-width 456px
  max-height 221px
  min-height 221px
  background-image: linear-gradient(150deg, rgba(54, 168, 255, 1) 0%, rgba(255, 175, 54, 1) 100%);
  img
    height 100%
    width 100%
    position absolute
    left 0
    top 0
    opacity 0.5

.secondary-new
.main-new
  h5
    text-transform uppercase
    font 700 16px 'Raleway'
  p
    font-size 14px
    color #585858

.main-new
  p
    padding-right 60px

.secondary-new
  padding-left 30px
  padding-right 30px
  time
    font-weight 700
    font-size 12px
    color #ffaf36
    text-transform uppercase
  h5
    margin-bottom 2
  p
    margin-top 8px
    padding-bottom 30px
    margin-bottom 36px

.secondary-news
  a
    margin-left 30px
    margin-top -20px


.partners-section
  .clients-top
    margin-top 10px
    margin-bottom 30px