.news-post-date
  width 180px
  time
    background-color #ffaf36
    font-weight 700
    font-size 13px
    padding 11px 19px 11px 33px
    display inline-block

.white-date-flag
  &:before
    border solid transparent
    content " "
    height 0
    width 0
    position absolute
    top 30px
    left 0
    pointer-events none
    border-left-color #fff
    border-width 23px
    margin-top -30px

.news-post-img
  padding-left 0

.news-post-content
  padding 0 15px 0 8px
  p
    color #585858
    font-size 14px
    line-height 28px
  h5
    font 800 16px 'Raleway'
    text-transform uppercase
    margin-bottom 20px
  ul
    margin-top 25px
    list-style none
    padding-left 0
    li
      font-size 12px
      font-weight 700
      text-transform uppercase
      i
        margin-right 15px

.light-date-flag
  &:before
    border solid transparent
    content " "
    height 0
    width 0
    position absolute
    top 30px
    left 0
    pointer-events none
    border-left-color #eaeff3
    border-width 23px
    margin-top -30px

.simple-post-content
  padding 0 50px 0 0

.news-post-multi-img
  img
    &:first-child
      margin-bottom 33px
    &:last-child
      margin-left 30px

.news-post-content
  blockquote
    margin-top 85px
    background-color #d1ebff
    border-color #36a8ff
