.pagination
  margin-bottom 120px
  margin-top 45px
  li
    .active
      background-color transparent
      border 2px solid #ffaf36
      color #ffaf36
    a
      padding-top 11px
      font-size 18px
      color black
      border-radius 0
      width 51px
      height 51px
      border 2px solid black
      margin-right 10px
      &:hover
        background-color transparent
        border 2px solid #ffaf36
        color #ffaf36

.page-item:last-child .page-link
  border-bottom-right-radius 0
  border-top-right-radius 0


.page-item:first-child .page-link
  margin-left 0
  border-bottom-left-radius 0
  border-top-left-radius 0