.service-wide
  margin-top 35px

.right-align-service,
.left-align-service
  p
   color #585858
   font-size 14px
   font-weight 400
   line-height 28px
  h5
    font 700 16px 'Raleway'
    margin-bottom 13px
  a
    margin-top 22px
    display inline-block

.left-align-service
  padding-left 20px
  p
    padding-right 10px

.right-align-service
  text-align right