.big-quotes
  position absolute
  right 0
  top -22px


.testimonial-quote
  width 735px
  margin 65px 0 0 25px
  background-color #fff
  border 1px solid #eaeff3
  padding 50px 60px 31px 55px
  i
    position absolute
    font-size 18px
  .fa-quote-left
    left 25px
    top 30px
  .fa-quote-right
    right 32px
    top 120px
    transform scale(1, -1)
  p
    margin -10px 0 23px 0
    color #585858
    font-size 14px
    line-height 28px
  h5
    font 800 13px 'Raleway'
    margin-bottom 0
  span
    color #ea0
    font-size 14px

.post-comments-form
  padding 0 15px 0 0
  .form-control
    border 1px solid #dfe5ea
    padding 13px 27px
    color #585858
    font 400 13px 'Open Sans'
    margin-top 20px
    &:first-child
      margin-top 0

.post-comments-textarea
  padding-right 0
  .form-control
    height 179px
    margin 0 0 20px 0
    color #585858
    font 400 13px 'Open Sans'
    border 1px solid #dfe5ea
    padding 13px 27px
