html(lang="en")
    head
        meta(charset="UTF-8")
        title Error
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Lora:400i|Open+Sans|Open+Sans:300|Open+Sans:700|Raleway|Raleway:800|Raleway:700|Montserrat" rel="stylesheet")
        link(href="../css/main.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css")
        link(rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css")
    body
        div.header-section
            div.container.padding-left-right-none
                div.row.header
                    div.logo-and-phone.col-xs-4
                        a.navbar-brand
                            img(src="../img/logo.png")
                        div.phone
                            i.icon-call-out
                            a.phone-number(href="tel:+99788856999") +9978 8856 999
                    div.header-nav.col-xs-8
                        nav.navbar.padding-right-none
                            ul.nav.navbar-nav
                                li.nav-item
                                    a.nav-link(href="contact-us.html") CONTACT US
                                li.nav-item
                                    a.nav-link.dropdown-arrow(href="faq.html") PAGES
                                    ul.dropdown
                                        li
                                            a.nav-link(href="faq.html") FAQ
                                        li
                                            a.nav-link(href="careers.html") CAREERS
                                        li
                                            a.nav-link(href="testimonial.html") TESTIMONIAL
                                li.nav-item
                                    a.nav-link(href="blog.html") BLOG
                                li.nav-item
                                    a.nav-link(href="news.html") NEWS
                                li.nav-item
                                    a.nav-link(href="services.html") SERVICES
                                li.nav-item
                                    a.nav-link(href="about-us.html") ABOUT US
                                li.nav-item
                                    a.nav-link(href="home.html") HOME
        div.banner
            img(src="../img/404-banner.jpeg")




