-var title = "Error"

html(lang="en")
    include includes/head
    body
        include includes/header
        div.banner
            img(src="../img/404-banner.jpeg")
        section
            div.container.arrows
                div.row.error-section
                    h1 ERROR
                        b 404
                    h1 NOT FOUND
                    p You may have mis-typed the URL Or the page has been removed
        include includes/footer