-var title = "About Us"
-var aboutUsActive = ""

html(lang="en")
    include includes/head
    body
        include includes/header
        div.banner
            img(src="../img/about-us-banner.jpeg")
        main
            div.container
                div.row
                    div.col-xs-12.blog-header.padding-left-right-none
                        h1.blog-page-header ABOUT US
                        p.featured-post Our Short Story
                div.row
                    div.col-xs-12.post-text.padding-left-right-none
                        p.featured-post Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                div.row
                    div.col-xs-12.padding-left-right-none
                        div.about-us-banner
                            img(src="../img/about-us-baner2.jpeg")
                            a.submit.margin-right(href="#")
                                div.submit-bg LETS TALK
                            a.submit.margin-right(href="#")
                                div.submit-bg CLIENTS
        section.light-section
            div.container.padding-bottom.arrows-left
                div.row
                    div.col-xs-12.blog-header.padding-left-right-none
                        h1.blog-page-header OUR VIEWS
                        p.featured-post Our Concepts
                div.row
                    div.col-xs-12.our-mission.padding-left-right-none
                        img(src="../img/our-mission-img.jpeg")
                        h4 OUR MISIION
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the.
                div.row
                    div.col-xs-12.our-vision.padding-left-right-none
                        img(src="../img/our-vision-img.jpeg")
                        h4 OUR VISSION
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the.
        section.clients
            div.container.arrows.padding-bottom
                div.row
                    div.col-xs-12.blog-header.padding-left-none
                        h1.blog-page-header CLIENTS
                        p.featured-post Our Clients
                div.row.clients-top
                    div.col-xs-2
                        img(src="../img/client1.png")
                    div.col-xs-2
                        img(src="../img/client2.png")
                    div.col-xs-2
                        img(src="../img/client3.png")
                    div.col-xs-2
                        img(src="../img/client4.png")
                    div.col-xs-2
                        img(src="../img/client5.png")
                    div.col-xs-2
                        img(src="../img/client6.png")
                div.row.clients-bottom
                    div.col-xs-2
                        img(src="../img/client7.png")
                    div.col-xs-2
                        img(src="../img/client8.png")
                    div.col-xs-2
                        img(src="../img/client9.png")
                    div.col-xs-2
                        img(src="../img/client10.png")
                    div.col-xs-2
                        img(src="../img/client11.png")
                    div.col-xs-2
                        img(src="../img/client12.png")
                div.row
                    dov.col-xs-12.padding-left-none
                    ul.clients-pagination
                        li.active
                        li
                        li
        include includes/footer
