-var title = "Blog"
-var blogActive = ""

html(lang="en")
    include includes/head
    body
        include includes/header
        div.banner
            img(src="../img/banner.jpeg")
        div.container.arrows
            div.row
                div.col-xs-12.blog-header.padding-left-right-none
                    h1.blog-page-header BLOG PAGE
                    p.featured-post Our featured Post
            div.row.blog-post.border-padding-bottom.margin-bottom
                article
                    div.post-header.col-xs-12.padding-left-right-none
                        img.admin-image(src="../img/admin.png")
                        div.post-info
                            h3.post-title BLOG HEADING HERE
                            p.posted-by POSTED BY: ADMIN,  OCTOBER- 11- 2015
                    section.post.col-xs-11.offset-xs-1.padding-left-right-none
                        img.post-img(src="../img/post-img1.png")
                        p.post-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised..
                    div.post-footer.col-xs-11.offset-xs-1.padding-left-right-none
                        p.share-logo SHARE:
                        ul.social-buttons
                            li
                                a(href='#')
                                    .btn.btn-circle.fb-btn
                                        i.fa.fa-facebook(aria-hidden='true')
                            li
                                a(href='#')
                                    .btn.btn-circle.tw-btn
                                        i.fa.fa-twitter(aria-hidden='true')
                            li
                                a(href='#')
                                    .btn.btn-circle.gl-btn
                                        i.fa.fa-google-plus(aria-hidden='true')
                        a.submit(href='blog-post.html')
                            .submit-bg READ MORE
            div.row.blog-post.border-padding-bottom.margin-bottom
                article
                    div.post-header.col-xs-12.padding-left-right-none
                        img.admin-img(src="../img/admin.png")
                        div.post-info
                            h3.post-title BLOG HEADING HERE
                            p.posted-by POSTED BY: ADMIN,  OCTOBER- 11- 2015
                    section.post.col-xs-11.offset-xs-1.padding-left-right-none
                        img.post-img(src="../img/post-img2.png")
                        p.post-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised..
                    div.post-footer.col-xs-11.offset-xs-1.padding-left-right-none
                        p.share-logo SHARE:
                        ul.social-buttons
                            li
                                a(href="#")
                                    div.btn.btn-circle.fb-btn
                                        i.fa.fa-facebook(aria-hidden="true")
                            li
                                a(href="#")
                                    div.btn.btn-circle.tw-btn
                                        i.fa.fa-twitter(aria-hidden="true")
                            li
                                a(href="#")
                                    div.btn.btn-circle.gl-btn
                                        i.fa.fa-google-plus(aria-hidden="true")
                        a(href="blog-post.html").submit
                            div.submit-bg READ MORE
            div.row.blog-post.border-padding-bottom.margin-bottom
                article
                    div.post-header.col-xs-12.padding-left-right-none
                        img.admin-img(src="../img/admin.png")
                        div.post-info
                            h3.post-title BLOG HEADING HERE
                            p.posted-by POSTED BY: ADMIN,  OCTOBER- 11- 2015
                    section.post.col-xs-11.offset-xs-1.padding-left-right-none
                        img.post-img(src="../img/post-img3.png")
                        p.post-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised..
                    div.post-footer.col-xs-11.offset-xs-1.padding-left-right-none
                        p.share-logo SHARE:
                        ul.social-buttons
                            li
                                a(href="#")
                                    div.btn.btn-circle.fb-btn
                                        i.fa.fa-facebook(aria-hidden="true")
                            li
                                a(href="#")
                                    div.btn.btn-circle.tw-btn
                                        i.fa.fa-twitter(aria-hidden="true")
                            li
                                a(href="#")
                                    div.btn.btn-circle.gl-btn
                                        i.fa.fa-google-plus(aria-hidden="true")
                        a(href="blog-post.html").submit
                            div.submit-bg READ MORE
            div.row.text-center.padding-left-right-none
                ul.pagination
                    li.page-item
                        a.page-link.active(href="#") 1
                    li.page-item
                        a.page-link(href="#") 2
                    li.page-item
                        a.page-link(href="#") 3
        include includes/footer
