html(lang="en")
    head
        meta(charset="UTF-8")
        title Careers
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Lora:400i|Open+Sans|Open+Sans:300|Open+Sans:700|Raleway|Raleway:800|Raleway:700|Montserrat" rel="stylesheet")
        link(href="../css/main.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css")
        link(rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css")
    body
        div.header-section
            div.container.padding-left-right-none
                div.row.header
                    div.logo-and-phone.col-xs-4
                        a.navbar-brand
                            img(src="../img/logo.png")
                        div.phone
                            i.icon-call-out
                            a.phone-number(href="tel:+99788856999") +9978 8856 999
                    div.header-nav.col-xs-8
                        nav.navbar.padding-right-none
                            ul.nav.navbar-nav
                                li.nav-item
                                    a.nav-link(href="contact-us.html") CONTACT US
                                li.nav-item
                                    a.nav-link.dropdown-arrow.active(href="faq.html") PAGES
                                    ul.dropdown
                                        li
                                            a.nav-link(href="faq.html") FAQ
                                        li
                                            a.nav-link.active(href="careers.html") CAREERS
                                        li
                                            a.nav-link(href="testimonial.html") TESTIMONIAL
                                li.nav-item
                                    a.nav-link(href="blog.html") BLOG
                                li.nav-item
                                    a.nav-link(href="news.html") NEWS
                                li.nav-item
                                    a.nav-link(href="services.html") SERVICES
                                li.nav-item
                                    a.nav-link(href="about-us.html") ABOUT US
                                li.nav-item
                                    a.nav-link(href="home.html") HOME
        div.banner
            img(src="../img/careers-banner.jpeg")
        section.careers-section
            div.container.arrows
                div.row
                    div.col-xs-2.padding-left-right-none
                        div.careers-imgs
                            img.careers-img(src="../img/careers-img.jpeg")
                            img.careers-img-border(src="../img/161.png")
                    div.col-xs-8.offset-xs-1.padding-left-right-none.careers-text
                        div.careers
                            div.blog-header
                                h1.blog-page-header CAREERS
                                p.featured-post Our Opaning positions
                                p.post-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
        section.light-section.padding-bottom
            div.container
                div.row
                    div.blog-header
                        div.col-xs-12.padding-left-right-none
                            h1.blog-page-header OUR OFFERS
                            p.featured-post We offering awesome facts
                div.row
                    div.col-xs-6.padding-left-right-none
                        div.our-offer
                            span.icon-emotsmile
                            h5 FUN ENVIRONMENT
                            p Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
                    div.col-xs-6.padding-left-right-none
                        div.our-offer
                            span.icon-present
                            h5 COMPENSATION
                            p Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
                div.row
                    div.col-xs-6.padding-left-right-none
                        div.our-offer
                            span.icon-cup
                            h5 ALL YOU NEED
                            p Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
                    div.col-xs-6.padding-left-right-none
                        div.our-offer
                            span.icon-rocket
                            h5 PLEASURE TRIPS
                            p Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
        section.open-positions
            div.container.arrows.padding-bottom
                div.row
                    div.blog-header
                        div.col-xs-12.padding-left-right-none
                            h1.blog-page-header OPEN POSITIONS
                            p.featured-post one of our featured vacancy
                div.row
                    div#accordion(role='tablist', aria-multiselectable='true')
                        div.card
                            div#headingTwo.card-header.border-top-none(role='tab')
                                h5.mb-0
                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                        h6.post-title CUSTOM RELESHIONSHIP MANAGER
                                        span.icon-arrow-down-circle
                            div#collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
                                div.card-block Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        div.card
                            div#headingOne.card-header(role='tab')
                                h5.mb-0
                                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                        div.row
                                            div.col-xs-12
                                                h6.post-title HR MANAGER
                                                span.icon-arrow-down-circle
                            div#collapseOne.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                                div.card-block
                                    div.row
                                        div.col-xs-6.padding-left-right-none.hr-mission
                                            h6.inline-block MISSION
                                            p.inline-block Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        div.col-xs-6.padding-left-right-none.hr-location
                                            h6.inline-block LOCATION
                                            p.inline-block Washington DC
                                        div.col-xs-6.padding-left-right-none.hr-type
                                            h6.inline-block TYPE
                                            p.inline-block Full-Time Position
                                        div.col-xs-6.padding-left-right-none.hr-require
                                            h6.inline-block REQUIRE
                                            ul
                                                li
                                                    i.fa.fa-check
                                                    | Lorem ipsum dolor sit amet, consectetur.
                                                li
                                                    i.fa.fa-check
                                                    | Praesent in urna at neque varius.
                                                li
                                                    i.fa.fa-check
                                                    | Mauris lobortis orci non viverra semper.
                                                li
                                                    i.fa.fa-check
                                                    | Phasellus tristique sem vitae lorem.
                                        div.col-xs-6.padding-left-right-none.hr-other
                                            h6.inline-block OTHER
                                            p.inline-block Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.
                                    div.row
                                        div.col-xs-12.hr-footer.padding-left-right-none
                                            a.submit(href="#")
                                                div.submit-bg APPLY NOW
                        div.card
                            div#headingThree.card-header(role="tab")
                                h5.mb-0
                                    a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#collapseThree", aria-expanded="false", aria-controls="collapseThree")
                                        h6.post-title CUSTUMER SUCSESS MANAGER
                                        span.icon-arrow-down-circle
                            div#collapseThree.collapse(role="tabpanel", aria-labelledby="headingThree")
                                div.card-block Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        div.card
                            div#headingFour.card-header.border-none(role="tab")
                                h5.mb-0
                                    a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#collapseFour", aria-expanded="false", aria-controls="collapseFour")
                                        h6.post-title IFRASTRUCTURE DEVELOPER
                                        span.icon-arrow-down-circle
                            div#collapseFour.collapse(role="tabpanel", aria-labelledby="headingFour")
                                div.card-block Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        footer
            div.container
                div.row.footer-content
                    div.logo-and-share.col-xs-4.padding-left-none
                        a(href="#")
                            img(src="../img/logo.png")
                        p.lawer 2015 © LAWYER
                        ul.social-buttons
                            li
                                a(href="#")
                                    div.btn.fb-btn
                                        i.fa.fa-facebook(aria-hidden="true")
                            li
                                a(href="#")
                                    div.btn.gl-btn
                                        i.fa.fa-google-plus(aria-hidden="true")
                            li
                                a(href="#")
                                    div.btn.tw-btn
                                        i.fa.fa-twitter(aria-hidden="true")
                            li
                                a(href="#")
                                    div.btn.li-btn
                                        i.fa.fa-linkedin(aria-hidden="true")
                    div.form-and-nav.col-xs-7
                        div.footer-nav
                            h3 NAVIGATION
                            ul
                                li
                                    a(href="home.html") HOME
                                li
                                    a(href="about-us.html") ABOUT US
                                li
                                    a(href="services.html") SERVICES
                                li
                                    a(href="testimonial.html") TESTIMONIAL
                                li
                                    a(href="blog.html") BLOG
                                li
                                    a(href="contact-us.html") CONTACT US
                        form
                            div.footer-form
                                h3.footer-title QUICK CONTACT US
                                div.name-email
                                    input(placeholder="Name *" required type="text").input.name-input
                                    input(placeholder="Email *" required type="email").input.email-input
                                textarea(placeholder="Comment *").textarea
                                a(href="#").submit
                                    div.submit-bg SUBMIT NOW
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js', integrity='sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK', crossorigin='anonymous')