-var title = "Careers"
-var careersActive = ""
-var pagesActive = ""

html(lang="en")
    include includes/head
    body
        include includes/header
        div.banner
            img(src="../img/careers-banner.jpeg")
        section.careers-section
            div.container.arrows
                div.row
                    div.col-xs-2.padding-left-right-none
                        div.careers-imgs
                            img.careers-img(src="../img/careers-img.jpeg")
                            img.careers-img-border(src="../img/161.png")
                    div.col-xs-8.offset-xs-1.padding-left-right-none.careers-text
                        div.careers
                            div.blog-header
                                h1.blog-page-header CAREERS
                                p.featured-post Our Opaning positions
                                p.post-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
        section.light-section.padding-bottom
            div.container
                div.row
                    div.blog-header
                        div.col-xs-12.padding-left-right-none
                            h1.blog-page-header OUR OFFERS
                            p.featured-post We offering awesome facts
                div.row
                    div.col-xs-6.padding-left-right-none
                        div.our-offer
                            span.icon-emotsmile
                            h5 FUN ENVIRONMENT
                            p Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
                    div.col-xs-6.padding-left-right-none
                        div.our-offer
                            span.icon-present
                            h5 COMPENSATION
                            p Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
                div.row
                    div.col-xs-6.padding-left-right-none
                        div.our-offer
                            span.icon-cup
                            h5 ALL YOU NEED
                            p Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
                    div.col-xs-6.padding-left-right-none
                        div.our-offer
                            span.icon-rocket
                            h5 PLEASURE TRIPS
                            p Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
        section.open-positions
            div.container.arrows.padding-bottom
                div.row
                    div.blog-header
                        div.col-xs-12.padding-left-right-none
                            h1.blog-page-header OPEN POSITIONS
                            p.featured-post one of our featured vacancy
                div.row
                    div#accordion(role='tablist', aria-multiselectable='true')
                        div.card
                            div#headingTwo.card-header.border-top-none(role='tab')
                                h5.mb-0
                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                        h6.post-title CUSTOM RELESHIONSHIP MANAGER
                                        span.icon-arrow-down-circle
                            div#collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
                                div.card-block Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        div.card
                            div#headingOne.card-header(role='tab')
                                h5.mb-0
                                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                        div.row
                                            div.col-xs-12
                                                h6.post-title HR MANAGER
                                                span.icon-arrow-down-circle
                            div#collapseOne.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                                div.card-block
                                    div.row
                                        div.col-xs-6.padding-left-right-none.hr-mission
                                            h6.inline-block MISSION
                                            p.inline-block Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        div.col-xs-6.padding-left-right-none.hr-location
                                            h6.inline-block LOCATION
                                            p.inline-block Washington DC
                                        div.col-xs-6.padding-left-right-none.hr-type
                                            h6.inline-block TYPE
                                            p.inline-block Full-Time Position
                                        div.col-xs-6.padding-left-right-none.hr-require
                                            h6.inline-block REQUIRE
                                            ul
                                                li
                                                    i.fa.fa-check
                                                    | Lorem ipsum dolor sit amet, consectetur.
                                                li
                                                    i.fa.fa-check
                                                    | Praesent in urna at neque varius.
                                                li
                                                    i.fa.fa-check
                                                    | Mauris lobortis orci non viverra semper.
                                                li
                                                    i.fa.fa-check
                                                    | Phasellus tristique sem vitae lorem.
                                        div.col-xs-6.padding-left-right-none.hr-other
                                            h6.inline-block OTHER
                                            p.inline-block Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.
                                    div.row
                                        div.col-xs-12.hr-footer.padding-left-right-none
                                            a.submit(href="#")
                                                div.submit-bg APPLY NOW
                        div.card
                            div#headingThree.card-header(role="tab")
                                h5.mb-0
                                    a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#collapseThree", aria-expanded="false", aria-controls="collapseThree")
                                        h6.post-title CUSTUMER SUCSESS MANAGER
                                        span.icon-arrow-down-circle
                            div#collapseThree.collapse(role="tabpanel", aria-labelledby="headingThree")
                                div.card-block Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        div.card
                            div#headingFour.card-header.border-none(role="tab")
                                h5.mb-0
                                    a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#collapseFour", aria-expanded="false", aria-controls="collapseFour")
                                        h6.post-title IFRASTRUCTURE DEVELOPER
                                        span.icon-arrow-down-circle
                            div#collapseFour.collapse(role="tabpanel", aria-labelledby="headingFour")
                                div.card-block Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        include includes/footer
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js', integrity='sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK', crossorigin='anonymous')