-var title = "Contact Us"
-var contactUsActive = ""

html(lang="en")
    include includes/head
    body
        include includes/header
        div.banner
            img(src="../img/contact-us-banner.jpeg")
        div.container
            div.row
                div.col-xs-12.blog-header.padding-left-right-none
                    h1.blog-page-header GET IN TOUCH
                    p.featured-post Feel free to contact us
            div.row
                div.col-xs-7.phone.phone-black
                    img(src="../img/phone-icon.png")
                    a.phone-number(href="tel:+99788856999") + 9978 8856 999
                div.col-xs-4.mail-to
                    a.submit(href="mailto:info@businessplus.com")
                        div.submit-bg info@businessplus.com
            div.row
                div.col-xs-12.padding-left-right-none
                    div.contact-us-banner
                        h1 CANADA
                        h3 100 Mission St, Canada street, Second flor 8878
                        img(src="../img/contact-us-bg.jpeg")
        div.light-section
            div.container.padding-bottom.arrows
                div.row
                    div.col-xs-12.blog-header.padding-left-right-none
                        h1.blog-page-header CONTACT FORM
                        p.featured-post Fill your requirments now
                div.row
                    form.form-horizontal
                        div.form-group
                            div.col-sm-12.padding-left-right-none
                                input.form-control(type="text", placeholder="NAME *")
                        div.form-group
                            div.col-sm-12.padding-left-right-none
                                input.form-control(type="email", placeholder="EMAIL ADRESS *")
                        div.form-group
                            div.col-sm-12.padding-left-right-none
                                input.form-control(type="TEL", placeholder="PHONE NUMBER *")
                        div.form-group
                            div.col-sm-12.padding-left-right-none
                                input.form-control(type="text", placeholder="SERVICE *")
                        div.form-group
                            div.col-sm-12.padding-left-right-none
                                textarea.form-control.ta(placeholder="MESSAGE *", rows="7")
                        div.form-group
                            div.col-sm-12.padding-left-right-none
                                a.submit(href="#")
                                    div.submit-bg SUBMIT NOW
        include includes/footer