html(lang="en")
    head
        meta(charset="UTF-8")
        title Faq
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Lora:400i|Open+Sans|Open+Sans:300|Open+Sans:700|Raleway|Raleway:800|Raleway:700|Montserrat" rel="stylesheet")
        link(href="../css/main.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css")
        link(rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css")
    body
        div.header-section
            div.container.padding-left-right-none
                div.row.header
                    div.logo-and-phone.col-xs-4
                        a.navbar-brand
                            img(src="../img/logo.png")
                        div.phone
                            i.icon-call-out
                            a.phone-number(href="tel:+99788856999") +9978 8856 999
                    div.header-nav.col-xs-8
                        nav.navbar.padding-right-none
                            ul.nav.navbar-nav
                                li.nav-item
                                    a.nav-link(href="contact-us.html") CONTACT US
                                li.nav-item
                                    a.nav-link.dropdown-arrow.active(href="faq.html") PAGES
                                    ul.dropdown
                                        li
                                            a.nav-link.active(href="faq.html") FAQ
                                        li
                                            a.nav-link(href="careers.html") CAREERS
                                        li
                                            a.nav-link(href="testimonial.html") TESTIMONIAL
                                li.nav-item
                                    a.nav-link(href="blog.html") BLOG
                                li.nav-item
                                    a.nav-link(href="news.html") NEWS
                                li.nav-item
                                    a.nav-link(href="services.html") SERVICES
                                li.nav-item
                                    a.nav-link(href="about-us.html") ABOUT US
                                li.nav-item
                                    a.nav-link(href="home.html") HOME
        div.banner
            img(src="../img/pages-banner.jpeg")
        main
            div.container
                div.row
                    div.col-xs-12.blog-header.padding-left-right-none
                        h1.blog-page-header FAQ'S
                        p.featured-post frequently asked questions
                div.row
                    ol.questions
                        li
                            div.question
                                h4.post-title Fun environment ?
                                p.post-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        li
                            div.question
                                h4.post-title Proin porta elit at orci rhoncus tincidunt ?
                                p.post-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                        li
                            div.question
                                h4.post-title Phasellus molestie nulla et nulla ?
                                p.post-text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                        li
                            div.question
                                h4.post-title Phasellus molestie nulla et nulla ?
                                p.post-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                        li
                            div.question
                                h4.post-title Nullam scelerisque orci ?
                                p.post-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                        li
                            div.question
                                h4.post-title Orci rhoncus tincidunt ?
                                p.post-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                        li
                            div.question
                                h4.post-title Molestie nulla et nulla ?
                                p.post-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                        li
                            div.question
                                h4.post-title Curabitur consequat ante ?
                                p.post-text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
        section.light-section
            div.container.padding-bottom.arrows
                div.row.text-center
                    div.col-xs-12.blog-header
                        h1.blog-page-header SEARCH QUESTION
                        p.featured-post if you have any more question search here OR feel free to contact us
                div.row.search.text-center
                    form.navbar-form.inline-block
                        div.form-group.inline-block
                            input.form-control(type="text" placeholder="Enter your questions here")
                        button.btn.btn-default(type="submit")
                            i.fa.fa-search(aria-hidden="true")
                div.row.text-center
                    div.col-xs-12
                        a.submit(href="#")
                            div.submit-bg SUBMIT NOW
        footer
            div.container
                div.row.footer-content
                    div.logo-and-share.col-xs-4.padding-left-none
                        a(href="#")
                            img(src="../img/logo.png")
                        p.lawer 2015 © LAWYER
                        ul.social-buttons
                            li
                                a(href="#")
                                    div.btn.fb-btn
                                        i.fa.fa-facebook(aria-hidden="true")
                            li
                                a(href="#")
                                    div.btn.gl-btn
                                        i.fa.fa-google-plus(aria-hidden="true")
                            li
                                a(href="#")
                                    div.btn.tw-btn
                                        i.fa.fa-twitter(aria-hidden="true")
                            li
                                a(href="#")
                                    div.btn.li-btn
                                        i.fa.fa-linkedin(aria-hidden="true")
                    div.form-and-nav.col-xs-7
                        div.footer-nav
                            h3 NAVIGATION
                            ul
                                li
                                    a(href="home.html") HOME
                                li
                                    a(href="about-us.html") ABOUT US
                                li
                                    a(href="services.html") SERVICES
                                li
                                    a(href="testimonial.html") TESTIMONIAL
                                li
                                    a(href="blog.html") BLOG
                                li
                                    a(href="contact-us.html") CONTACT US
                        form
                            div.footer-form
                                h3.footer-title QUICK CONTACT US
                                div.name-email
                                    input(placeholder="Name *" required type="text").input.name-input
                                    input(placeholder="Email *" required type="email").input.email-input
                                textarea(placeholder="Comment *").textarea
                                a(href="#").submit
                                    div.submit-bg SUBMIT NOW
