-var title = "News"
-var newsActive = ""

html(lang="en")
    include includes/head
    body
        include includes/header
        div.banner
            img(src="../img/news-banner.jpeg")
        section
            div.container.padding-bottom
                div.row
                    div.col-xs-12.blog-header.padding-left-right-none
                        h1.blog-page-header NEWS
                        p.featured-post Featured News
                div.row
                    div.col-xs-2.padding-left-right-none.news-post-date
                        time.white-date-flag OCTOBER-20-05
                    div.col-xs-4.news-post-img
                        img(src="../img/news-post-img1.png")
                    div.col-xs-6.news-post-content
                        h5 News heading here
                        p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        ul
                            li
                                i.fa.fa-check
                                | Nam nec urna facilisis, viverra arcu id, aliquam nulla.
                            li
                                i.fa.fa-check
                                | Donec ac risus molestie, porta elit vel, hendrerit orci.
                            li
                                i.fa.fa-check
                                | Aenean in sapien sed mauris tincidunt posuere.
        section.light-section.padding-bottom.padding-top
            div.container
                div.row
                    div.col-xs-2.padding-left-right-none.news-post-date
                        time.light-date-flag OCTOBER-22-05
                    div.col-xs-10.news-post-content.simple-post-content
                        h5 News heading Here
                        p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing. There are many variations of passages of Lorem.
        section
            div.container.padding-bottom.padding-top
                div.row
                    div.col-xs-2.padding-left-right-none.news-post-date
                        time.white-date-flag OCTOBER-24-05
                    div.col-xs-4.news-post-img.news-post-multi-img
                        img(src="../img/news-post-img2.png")
                        img(src="../img/news-post-img3.png")
                        img(src="../img/news-post-img4.png")
                    div.col-xs-6.news-post-content
                        h5 News heading Here
                        p Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem.
                        blockquote
                            p Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages
        section.light-section.padding-top
            div.container.arrows.padding-bottom
                div.row
                    div.col-xs-2.padding-left-right-none.news-post-date
                        time.light-date-flag OCTOBER-26-05
                    div.col-xs-4.news-post-img
                        img(src="../img/news-post-img5.png")
                    div.col-xs-6.news-post-content
                        h5 News heading Here
                        p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        include includes/footer