-var title = "Testimonial"
-var testimonialActive = ""
-var pagesActive = ""

html(lang="en")
    include includes/head
    body
        include includes/header
        div.banner
            img(src="../img/tesimonial-banner.jpeg")
        section
            div.container.arrows.padding-bottom
                div.row
                    img.big-quotes(src="../img/quote-icon.png")
                    div.col-xs-12.blog-header.padding-left-right-none
                        h1.blog-page-header TESTIMONIALS
                        p.featured-post Our Happy Clients
                div.row
                    div.col-xs-4.testimonial-img.padding-left-right-none
                        img(src="../img/testimonial-client-1.png")
                    div.col-xs-8.testimonial-quote
                        i.fa.fa-quote-left(aria-hidden="true")
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took galley of type and scrambled it to make a type specimen book. It has survived
                        i.fa.fa-quote-right(aria-hidden="ture")
                        h5 NAME HERE
                        span Designation
        section.light-section.padding-bottom.padding-top
            div.container
                div.row
                    div.col-xs-4.testimonial-img.padding-left-right-none
                        img(src="../img/testimonial-client-2.png")
                    div.col-xs-8.testimonial-quote
                        i.fa.fa-quote-left(aria-hidden="true")
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took galley of type and scrambled it to make a type specimen book. It has survived
                        i.fa.fa-quote-right(aria-hidden="true")
                        h5 NAME HERE
                        span Designation
        section
            div.container.padding-bottom.padding-top
                div.row
                    div.col-xs-4.testimonial-img.padding-left-right-none
                        img(src="../img/testimonial-client-3.png")
                    div.col-xs-8.testimonial-quote
                        i.fa.fa-quote-left(aria-hidden="true")
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took galley of type and scrambled it to make a type specimen book. It has survived
                        i.fa.fa-quote-right(aria-hidden="ture")
                        h5 NAME HERE
                        span Designation
        section.light-section.padding-bottom.padding-top
            div.container
                div.row
                    div.col-xs-4.testimonial-img.padding-left-right-none
                        img(src="../img/testimonial-client-4.png")
                    div.col-xs-8.testimonial-quote
                        i.fa.fa-quote-left(aria-hidden="true")
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took galley of type and scrambled it to make a type specimen book. It has survived
                        i.fa.fa-quote-right(aria-hidden="true")
                        h5 NAME HERE
                        span Designation
        section
            div.container.arrows.padding-bottom.padding-top
                div.row
                    div.col-xs-12.blog-header.padding-left-right-none
                        h1.blog-page-header POST COMMENTS
                        p.featured-post Post Your testimonial now
                div.row
                    div.col-xs-6.post-comments-form
                        input.form-control(type="text", placeholder="NAME *")
                        input.form-control(type="email", placeholder="EMAIL *")
                        input.form-control(type="number", placeholder="PHONE *")
                    div.col-xs-6.post-comments-textarea
                        textarea.form-control.ta(placeholder="MESSAGE *", rows="8")
                        a.submit(href="#")
                            div.submit-bg SUBMIT NOW
        include includes/footer
